<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmento/base::base}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/listmembers/style.css">
    <title>Club Deportivo Aleman</title>
</head>
<body>
<div layout:fragment="contenido">
    <div class="container-fluid align-content-center text-center">
       <div class="h3 text-center">Formulario para el miembro</div>
        <form th:action="@{/members/add}" th:object="${addMember}" method="POST">
            <div class="form-outline mb-4">
                <label class="form-label text-left h4" for="id-miembro">ID del miembro</label>
                <input type="number" id="id-miembro" class="form-control" name="id"/>
            </div>
                <h2 class="h4 text-left">ID miembro</h2>
                <h2 class="h4 text-center">Creado por</h2>
            <div class="col-md-12">
                <input class="form-control form-control-lg" type="text" name="created_by">
            </div>
                <h2 class="h4 text-center">Nombre</h2>
            <div class="col-md-12">
                <input class="form-control form-control-lg" type="text" name="name">
            </div>
                <h2 class="h4 text-center">Apellido</h2>
            <div class="col-md-12">
                <input class="form-control form-control-lg" type="text" name="surname">
            </div>
                <h2 class="h4 text-center">Fecha de vencimiento</h2>
            <div class="col-md-12">
                <input class="form-control form-control-lg" type="text" name="fecha_vencimiento" placeholder="yyyy-MM-dd">
            </div>
                <h2 class="h4 text-center">Es moroso</h2>
            <div class="col-md-12">
                <input class="form-control form-control-lg" type="checkbox" name="is_defaulter">
            </div>
                <h2 class="h4 text-center">Foto</h2>
            <div class="col-md-12">
                <input class="form-control form-control-lg" type="text" name="photo">
            </div>
                <h2 class="h4 text-center">Tipo</h2>
            <div class="col-md-12">
                <input class="form-control form-control-lg" type="text" name="type">
            </div>
                <button type="submit" class="btn btn-primary col-md-1">Submit</button>
        </form>
    </div>
</div>
</body>
</html>