<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmento/base::base}">
    
<head>
    <meta charset="UTF-8">
    
    <title id="pageTitle">Records</title>
    <!-- Bootstrap CSS -->
    <!-- Table to Datatable CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.2.0/css/dataTables.dateTime.min.css">
    <link rel="stylesheet" href = "https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css">

    <script src = "https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
    <script src = "https://cdn.datatables.net/datetime/1.2.0/js/dataTables.dateTime.min.js"></script>
    <script src = "https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src = "https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
    <script th:src="@{/js/fecha.js}"></script>

</head>
<body>
<div layout:fragment="contenido">
    <nav class="breadcrumbs">
        <a href="/" class="breadcrumbs__item">Dashboard</a>
        <a href="/records" class="breadcrumbs__item is-active">Records</a> 
    </nav>
    <div class="container-fluid text-center">
        <div class="row justify-content-center align-items-center g-2">
            <div class="col-9">
                <h1 style="padding: 0.5em;">Records</h1>
            </div>
            <div class="col-3">
                <a class="btn btn-primary" href="/">Filtros</a>
                <a class="btn btn-success" th:href="@{/records/ReporteExcel}" target="_blank">Reporte</a>
                <a th:href="@{/records}" class="btn btn-secondary">Actualizar</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <table border="0" cellspacing="5" cellpadding="5">
            <tbody>
            <tr>
                <td>Fecha inicio:</td>
                <td><input type="text" id="min" name="min"></td>
                <td>Fecha fin:</td>
                <td><input type="text" id="max" name="max"></td>
            </tr>

            </tbody>
        </table>


        <a th:href="@{/records}" class="btn btn-success">Limpiar Filtro</a>
        <br>
        <br>
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Numero de Socio
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Apellido
                    </th>
                    <th>
                        Cédula
                    </th>
                    <th>
                        Tipo
                    </th>
                    <th>
                        Sector
                    </th>
                    <th>
                        Fecha
                    </th>
                    <th >
                        Hora
                    </th>
                    <th >
                        Portero
                    </th>
                    <th >
                        Apellido Portero
                    </th>
                    <th >
                        Cedula Portero
                    </th>
                    <th >
                        Con Deuda
                    </th>
                    <th>
                        Detalles
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr th:each = "m : ${records}">
                    <td th:text = "${m.id_member}" th:style="${m.is_defaulter == 'true' ? 'color : red;' : ''}"></td>
                    <td th:text = "${m.name_member}" th:style="${m.is_defaulter == 'true' ? 'color : red;' : ''}"></td>
                    <td th:text = "${m.surname_member}" th:style="${m.is_defaulter == 'true' ? 'color : red;' : ''}"></td>
                    <td th:text = "${m.ci_member}" th:style="${m.is_defaulter == 'true' ? 'color : red;' : ''}"></td>
                    <td th:text = "${m.type}" th:style="${m.is_defaulter == 'true' ? 'color : red;' : ''}"></td>
                    <td th:text = "${m.sector}" th:style="${m.is_defaulter == 'true' ? 'color : red;' : ''}"></td>
                    <td th:text = "${m.CambiarFormatoFecha2()}" th:style="${m.is_defaulter == 'true' ? 'color : red;' : ''}"></td>
                    <td th:text = "${m.ExtraerHora()}" th:style="${m.is_defaulter == 'true' ? 'color : red;' : ''}"></td>
                    <td th:text = "${m.name_portero}" th:style="${m.is_defaulter == 'true' ? 'color : red;' : ''}"></td>
                    <td th:text = "${m.surname_portero}" th:style="${m.is_defaulter == 'true' ? 'color : red;' : ''}"></td>
                    <td th:text = "${m.ci_portero}" th:style="${m.is_defaulter == 'true' ? 'color : red;' : ''}"></td>
                    <td th:text = "${m.CambiarIsDefaulter()}" th:style="${m.is_defaulter == 'true' ? 'color : red;' : ''}"></td>
                    <td>
                        <a th:href="@{/records/ver/{id}(id=${m.id})}" class="btn btn-info">Detalles</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

</body>
</html>
