<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmento/base::base}">
<head>
	<meta charset="UTF-8">
	<title>Club Deportivo Aleman</title>
</head>
<body>
<div layout:fragment="contenido">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered table-hover table-striped">
					<thead class="thead-light">
					<tr>
						<th>
							ID
						</th>
						<th>
							Creado por
						</th>
						<th>
							Nombre
						</th>
						<th>
							Apellido
						</th>
						<th>
							Fecha de vencimiento
						</th>
						<th>
							Es moroso
						</th>

						<th>
							Foto
						</th>
						<th>
							Tipo
						</th>
						<th>
							Opciones
						</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each = "m : ${miembros}">
						<td th:text = "${m.id}">
							Default
						</td>
						<td th:text = "${m.created_by}">
							Default
						</td>
						<td th:text = "${m.name}">
							Default
						</td>
						<td th:text = "${m.surname}">
							Default
						</td>
						<td th:text = "${m.fecha_vencimiento}">
							Default
						</td>
						<td th:text = "${m.is_defaulter}">
							Default
						</td>
						<td th:text = "${m.photo}">
							Default
						</td>
						<td th:text = "${m.type}">
							Default
						</td>
						<td>
							<a href="#" th:ref="@{/members/{id}(id=${(m.id)}/update}">Editar</a>
							<a href="#" th:ref="@{/members/{id}(id=${(m.id)}/delete}">Eliminar</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<a th:href="@{/members/add-form}">Añadir miembro</a>
		</div>
	</div>
	<script src="js/listmembers/jquery.min.js"></script>
	<script src="js/listmembers/bootstrap.min.js"></script>
	<script src="js/listmembers/scripts.js"></script>
</div>
</body>
</html>
