<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmento/base::base}">
<head>
  <meta charset="UTF-8">
  <title>Records</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>
<div layout:fragment="contenido">
  <div class = "container">
    <div class = "row">
      <h1>Records</h1>
    </div>
    <table class = "table table-striped table-bordered">
      <thead class = "table-dark">
      <tr>
        <th>Numero de Socio</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>CI</th>
        <th>Tipo</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each = "records:${records}">
        <td th:text = "${records.id_member}"></td>
        <td th:text = "${records.name_member}"></td>
        <td th:text = "${records.surname_member}"></td>
        <td th:text = "${records.ci_member}"></td>
        <td th:text = "${records.type}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
>