<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmento/base::base}">
<head>
    <meta charset="UTF-8">
    <title> Sectores </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>
<div layout:fragment="contenido">
    <div class = "container">
        <div class = "row">
            <h1>Sectores</h1>
        </div>
        <table class = "table table-striped table-bordered">
            <thead class = "table-dark">
            <tr>
                <th>Sector</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "sector:${sector}">
                <td th:text = "${sector.id}">Sector</td>
                <td>
                    <a th:href="@{/sectores/{id}(id=${sector.id})}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a href="/sectores/addSectores" class="btn btn-success">Agregar</a>

    </div>
</div>
</body>
</html>
