<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmento/base::base}">
<head>
	<meta charset="UTF-8">
	<title>Admin DTA</title>
</head>
<body>
<div layout:fragment="contenido">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered table-hover">
					<thead>
					<tr>
						<th>
							ID
						</th>
						<th>
							Nombre
						</th>
						<th>
							Apellido
						</th>
						<th>
							Cédula
						</th>
						<th>
							Rol
						</th>
						<th>
							Activo
						</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each = "m : ${users}">
						<td th:text = "${m.id}">
							Default
						</td>
						<td th:text = "${m.created_by}">
							Default
						</td>
						<td th:text = "${m.name}">
							Default
						</td>
						<td th:text = "${m.surname}">
							Default
						</td>
						<td th:text = "${m.fecha_vencimiento}">
							Default
						</td>
						<td th:text = "${m.is_defaulter}">
							Default
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script src="js/listmembers/jquery.min.js"></script>
	<script src="js/listmembers/bootstrap.min.js"></script>
	<script src="js/listmembers/scripts.js"></script>
</div>
</body>
</html>