<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmento/base::base}">
<head>
    <meta charset="UTF-8">
    <title id="pageTitle">Actualizar Miembro</title>
    <link th:href="@{/css/AddUser.css}" rel = "stylesheet">
</head>

<body>
<div layout:fragment="contenido">
    <div class="container-fluid central" style="padding-top: 1em;">
        <div class="col-1 g-2"><a type="button"  href="/members" aria-label="Close" title="Retroceder"><img th:src="@{/img/back.svg}" style="heigth:48px;width:48px"></a></div>
        <div class="row justify-content-center align-items-center g-2">
            <div class="col-8">
                <h1 class="text-center smt">
                    Editar miembro
                </h1>
            </div>
        </div>

        <form th:action="@{/members/update}" th:object="${m}" method="POST"
              class="form-group justify-content-center needs-validation" id="submit"
              onsubmit="this.querySelectorAll('input').forEach(i => i.disabled = false)" novalidate>
            <div th:if=${param.error001}>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Un campo esta vacio</strong> Por favor rellene los campos necesarios.
                </div>
            </div>
            <div th:if=${param.error002}>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>ID de miembro invalido</strong> El id de miembro ya existe.
                </div>
            </div>
            <input th:field="*{id}" type="hidden" name="id" id="id" th:value="${m.id}" readonly>
            <div class="row justify-content-center align-items-center smt">
                <div class="col-md-6">
                    <label for="id_member" class="form-label">ID miembro</label>
                    <input class="form-control form-control-lg" th:field="*{id_member}" type="text" name="id_member" id="id_member" th:value="${m.id_member}" readonly>
                </div>
                <div class="col-md-6">
                    <label for="ci" class="form-label">Cédula</label>
                    <input class="form-control form-control-lg" th:field="*{ci}" type="text" name="ci" id="ci" th:value="${m.ci}">
                </div>
            </div>
            <div class="row justify-content-center align-items-center smt">
                <div class="col-md-6">
                    <label for="name" class="form-label">Nombre</label>
                    <input class="form-control form-control-lg" th:field="*{name}" type="text" name="name" id="name" th:value="${m.name}" required>
                    <div class="invalid-feedback">
                        Es necesario un valor en este campo.
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="surname" class="form-label">Apellido</label>
                    <input class="form-control form-control-lg" th:field="*{surname}" type="text" name="surname" id="surname"  th:value="${m.surname}" required>
                    <div class="invalid-feedback">
                        Es necesario un valor en este campo.
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center smt">
                <div class="col-md-5">
                    <label for="fecha_vencimiento" class="form-label">Fecha de vencimiento</label>
                    <input class="form-control form-control-lg" th:field="*{fecha_vencimiento}" type="date" name="fecha_vencimiento" placeholder="yyyy-MM-dd" id="fecha_vencimiento"  th:value="${m.fecha_vencimiento}" required>
                    <div class="invalid-feedback">
                        Es necesario un valor en este campo.
                    </div>
                </div>
                <div class="col-md-5">
                    <label for="type" class="form-label">Tipo</label>
                    <select class="form-select form-select-lg" name="type" id="type" th:field="*{type}">
                        <option th:each="t : ${tipos}" th:value="${t.Type}"
                            th:selected="${m.type == t.Type}" th:text="${t.Type}">
                        </option>
                    </select>
                    <!-- <input class="form-control form-control-lg" th:field="*{type}" type="text" name="type" id="type" th:value="${m.type}" readonly> -->
                </div>
                <div class="col-md-2" id="checkbox">
                    <div class="form-check">
                        <input class="form-check-input" th:field="*{is_defaulter}" name="is_defaulter" type="checkbox" value="Si" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Es moroso
                        </label>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center g-2 smt">
                <button type="submit" class="btn btn-primary btn-lg col-4" style="margin-top: 1em">Enviar</button>
                <button type="button" class="btn btn-danger btn-lg col-2" style="margin-top: 1em" th:data-id="${m.id}" data-bs-toggle="modal" data-bs-target="#exampleModal">Eliminar</button>
            </div>
        </form>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar usuario</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Estas seguro que quieres eliminar este miembro?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" id="deleteButton" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script th:src="@{/js/updateMiembro.js}"></script>
    <script th:src="@{/js/memberDelete.js}"></script>
</div>
</body>
</html>