<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragmento/base::base}">

<head>
    <meta charset="UTF-8">
    <title id="pageTitle">Actualizar Usuario</title>
   
    <!-- <link rel="stylesheet" href="../static/css/newUser.css"> -->
    <style>
        .smt {
            padding-top: 0.9em;
        }

        body {
            background-color: rgb(243, 243, 243) !important;
            height: 100vh;
            color: rgb(0, 0, 0) !important;
        }
    </style>
</head>

<body>
    <div layout:fragment="contenido">
        <div class="container-fluid central" style="padding-top: 1em;">
            <div class="col-1 g-2"><a type="button" class="btn btn-warning" href="/users"
                    aria-label="Close">Cancelar</a></div>
            <div class="row justify-content-center align-items-center g-2">
                <div class="col-8">
                    <h1 class="text-center smt">
                        Editar usuario
                    </h1>
                </div>
            </div>
            <form th:action="@{/users/update}" th:object="${user}" method="POST">
                <div class="row justify-content-center align-items-center g-2 smt">
                    <div class="col-8 input-group-lg">
                        <label for="id" class="form-label">Correo electrónico</label>
                        <input type="text" class="form-control" name="id" id="id" th:field="*{id}"
                            aria-describedby="helpId" placeholder="" th:value="${user.id}" readonly>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center g-2 smt">
                    <div class="col-4 input-group-lg">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="name" id="name" th:field="*{name}"
                            aria-describedby="helpId" placeholder="" th:value="${user.name}" required>
                    </div>
                    <div class="col-4 input-group-lg">
                        <label for="surname" class="form-label">Apellido</label>
                        <input type="text" class="form-control" name="surname" id="surname" th:field="*{surname}"
                            aria-describedby="helpId" placeholder="" th:value="${user.surname}" required>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center g-2 smt">
                    <div class="col-4 input-group-lg">
                        <label for="ci" class="form-label">Cédula</label>
                        <input type="text" class="form-control" name="ci" id="ci" th:field="*{ci}"
                            aria-describedby="helpId" placeholder="" th:value="${user.ci}" required>
                    </div>
                    <div class="col-2 input-group-lg">
                        <label for="rol" class="form-label">Rol</label>
                        <select class="form-select" name="rol" id="rol" th:field="*{rol}">
                            <option th:each="rol : ${roles}" th:value="${rol.id}"
                                th:selected="${user.rol == rol.id}" th:text="${rol.id}">
                            </option>
                        </select>
                    </div>
                    <div class="col-2 input-group-lg">
                        <label for="active" class="form-label">Activo</label>
                        <select class="form-select" name="active" id="active" th:field="*{active}">
                            <option value="enabled" th:selected="(${user.active}) == 'enabled'">Enabled</option>
                            <option value="disabled" th:selected="(${user.active}) == 'disabled'">Disabled</option>
                        </select>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center g-2 smt">
                    <button type="submit" class="btn btn-primary col-6">Enviar</button>
                    <button type="button" class="btn btn-danger col-2" th:data-id="${user.id}" data-bs-toggle="modal" data-bs-target="#exampleModal">Eliminar</button>
                </div>
            </form>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar usuario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Estas seguro que quieres eliminar este usuario?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="deleteButton" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
            </div>
        </div>

            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
        <!-- <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script> -->
        <script th:src="@{/js/userDelete.js}"></script> 
    </div>
</body>
</html>