<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmento/base::base}">
<head>
    <meta charset="UTF-8">
    
    <title id="pageTitle">Usuarios</title>
    <!-- Bootstrap CSS -->
    <!-- Table to Datatable CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
</head>
<body>
<div layout:fragment="contenido">
    <!-- Iconos de errores -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="info-fill" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
    <!-- Error default -->
    <div th:if=${param.err} class="p-2">
        <div class="alert alert-warning d-flex alert-dismissible align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <strong class="text-center">Lo sentimos, ha ocurrido un error inesperado.</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <!-- Error de usuario ya existe -->
    <div th:if=${param.err001} class="p-2">
        <div class="alert alert-danger d-flex alert-dismissible align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <strong class="text-center">Usuario ya existe.</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <!-- Error de usuario no existe -->
    <div th:if=${param.err002} class="p-2">
        <div class="alert alert-danger d-flex alert-dismissible align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <strong class="text-center">Usuario no existe.</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <!-- Usuario creado con exito -->
    <div th:if=${param.createSuccess} class="p-2">
        <div class="alert alert-success d-flex alert-dismissible align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#check-circle-fill"/></svg>
            <strong class="text-center">Usuario creado.</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <!-- Usuario eliminado con exito -->
    <div th:if=${param.deleteSuccess} class="p-2">
        <div class="alert alert-success d-flex alert-dismissible align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#check-circle-fill"/></svg>
            <strong class="text-center">Usuario eliminado.</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <!-- Usuario editado con exito -->
    <div th:if=${param.editSuccess} class="p-2">
        <div class="alert alert-success d-flex alert-dismissible align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#check-circle-fill"/></svg>
            <strong class="text-center">Usuario editado.</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <nav class="breadcrumbs">
        <a href="/" class="breadcrumbs__item">Dashboard</a>
        <a href="/users" class="breadcrumbs__item is-active">Usuarios</a> 
    </nav>
    <div class="container-fluid text-center">
        <div class="row justify-content-center align-items-center g-2">
            <div class="col-10">
                <h1 style="padding: 0.5em;">Usuarios</h1>
            </div>
            <div class="col-2">
                <a type="button" class="btn btn-success" th:href="@{/users/new}" target="_self">Nuevo</a>
                <a type="button" class="btn btn-secondary" th:href="@{/users}" target="_self">Actualizar</a>
            </div>
        </div>

    <div th:if=${param.err500}>
        <div class="alert alert-warning alert-dismissible fade show d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <strong>No se pudo crear un nuevo usuario</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <div th:if=${param.err501}>
        <div class="alert alert-warning alert-dismissible fade show d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <strong>No se pudo borrar usuario</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <div th:if=${param.success1}>
        <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#check-circle-fill"/></svg>
            <strong>Se ha creado el usuario con exito</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <div th:if=${param.success2}>
        <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#check-circle-fill"/></svg>
            <strong>Se ha eliminado el usuario con exito</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <div class="container-fluid">
        <table id="example" class="table table-striped">
            <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Cédula
                </th>
                <th>
                    Rol
                </th>
                <th>
                    Activo
                </th>
                <th>
                    Opciones
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "m : ${users}">
                <td th:text = "${m.id}">
                    Default
                </td>
                <td th:text = "${m.name}">
                    Default
                </td>
                <td th:text = "${m.surname}">
                    Default
                </td>
                <td th:text = "${m.ci}">
                    Default
                </td>
                <td th:text = "${m.rol}">
                    Default
                </td>
                <td th:text = "${m.active}">
                    Default
                </td>
                <td class="d-flex gap-1">
                    <a type="button" class="btn btn-sm btn-primary" th:href="@{/users/update/{id}(id=${m.id})}" target="_self">Editar</a> 
                    <a type="button" class="btn btn-sm btn-secondary" th:href="@{/users/disable/{id}(id=${m.id})}" target="_self">Inhabilitar</a>
                    <button type="button" class="btn btn-sm btn-danger" th:data-id="${m.id}" data-bs-toggle="modal" data-bs-target="#exampleModal">Eliminar</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar usuario</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Estas seguro que quieres eliminar este usuario?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" id="deleteButton" class="btn btn-danger">Eliminar</button>
            </div>
          </div>
        </div>
    </div>
    
    <!-- Bootstrap Js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <!-- Table to Datatable scripts -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script> -->
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script th:src="@{/js/datatableScript.js}"></script>
    <script th:src="@{/js/userDelete.js}"></script> 
</div>
</body>
</html>
